# database
DATABASE_URL=postgresql://localhost:5432/slushie

# redis
REDIS_URL=redis://localhost:6379

# deepgram
DEEPGRAM_API_KEY=

# nextauth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ADMIN_EMAILS=ryan@slushie.agency

# s3 (optional for local dev)
S3_BUCKET=
S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
